<!DOCTYPE html>{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>
        <div class="col s12 m8">
          <table>
            {% for list in name|slice:":1" %}
            <tr>
              {% for month in list %}
              <th> {{ month }}</th>
              {% endfor %}
            {% endfor %}
            </tr>

            {% for list in name|slice:"1:" %}
              <tr>
                {% for month in list|slice:":13" %}
                  {% if month < 0 %}
                  <td style="background-color:{{'ForestGreen'}};">{{ month }}</td>

                  {% elif month >= 0 and month < 1 %}
                  <td style="background-color:{{'White'}};">{{ month }}</td>

                  {% elif month >= 1 and month < 2 %}
                  <td style="background-color:{{'Thistle'}};">{{ month }}</td>

                  {% elif month >= 2 and month < 5 %}
                  <td style="background-color:{{'Salmon'}};">{{ month }}</td>

                  {% elif month >= 5 %}
                  <td style="background-color:{{'red'}};">{{ month }}</td>

                  {% else %}
                  <td>{{month}}</td>
                  {% endif %}
                {% endfor %}
                <td style="background-color:{{'Gray'}};"> {{ list|last }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% endblock %}

  </body>
</html>
